<div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Manage Media</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Vote</a></li>
                    <li class="breadcrumb-item active">Manage</li>
                </ol>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-pills m-t-30 m-b-30">
                                <li class=" nav-item"> <a href="#navpills-1" class="nav-link active" data-toggle="tab" target="_self" aria-expanded="false">Manage</a> </li>
                                <li class="nav-item"> <a href="#navpills-2" class="nav-link" data-toggle="tab" target="_self" aria-expanded="false">Analytics</a> </li>
                                <li class="nav-item"> <a href="#navpills-3" class="nav-link" data-toggle="tab" target="_self" aria-expanded="true">Tools</a> </li>
                            </ul>
                            <div class="tab-content br-n pn">
                                <div id="navpills-1" class="tab-pane active">
                                   
                                    <h4 class="card-title">Manage Media</h4>
                                    <div class="form-group row">
                                        <div class="col-md-6">        
                                            <div class="search-box-bs"> 
                            <input type="text" class="form-control" id="myText" placeholder="Search for Uploaded Media" ng-model="searchKey.mName"> 
                                 <button class="btn btn-primary waves-effect waves-light" type="button"><span class="btn-label"><i class="icon-magnifier"></i></span></button>
                                  </div>
                                 
                                  </div>
                                            </div><div class="row">
                         <div class="col-md-4">
                             <div class="left-side-a">
                                <div class="skin skin-square">
                                    <form>
                                        <div class="form-group">
                                            <label>Sorted By</label>
                                            <div class="input-group">
                                                <ul class="icheck-list">
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-1" name="square-radio" data-radio="iradio_square-green" data-dom="opt1" disabled>
                                                        <label for="square-radio-1">By Topic</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-2" name="square-radio" data-radio="iradio_square-green" data-dom="opt2">
                                                        <label for="square-radio-2">By Categories</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-3" name="square-radio" checked data-radio="iradio_square-green" data-dom="opt3">
                                                        <label for="square-radio-3">By Date of Creation</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-4" name="square-radio" data-radio="iradio_square-green" data-dom="opt4" disabled>
                                                        <label for="square-radio-4">By Traffic</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-5" name="square-radio" data-radio="iradio_square-green" data-dom="opt5" disabled>
                                                        <label for="square-radio-5">By Favorite</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                 <!-- <h4>Currently Using in :</h4>
                                 <ul class="curent-state">
                                     <li>Topic:  Science and Technology</li>
                                     <li>Category:  Greatest Scientist in history</li>
                                     <li>Title:  Einstain VS Newton</li>
                                 </ul>
                                 <div class="vote-details-b">
                                    <a href="">
                                     <div class="team-s"><img src="admin/assets/images/team-a.jpg" alt=""></div> 
                                     <div class="team-s"><img src="admin/assets/images/team-b.jpg" alt=""></div> 
                                        </a>
                                 </div> -->
                                 <div class="bottom-btns">
                                     <a href="" class="btn btn-primary waves-effect waves-light">Stadistic of Vote</a> 
                                     <a href="" class="btn btn-primary waves-effect waves-light">Traffic of Specific Vote</a>  

                                 </div>
                             </div>
                             
                         </div>
                         <div class="col-md-8">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class=" nav-item"> <a href="#navpills-4" class="nav-link active" data-toggle="tab" target="_self" aria-expanded="false">Image</a> </li>
                                <li class="nav-item"> <a href="#navpills-5" class="nav-link" data-toggle="tab" target="_self" aria-expanded="false">Video</a> </li>
                                <li class="nav-item"> <a href="#navpills-6" class="nav-link" data-toggle="tab" target="_self" aria-expanded="true">Text</a> </li>
                                <li class="nav-item"> <a href="#navpills-7" class="nav-link" data-toggle="tab" target="_self" aria-expanded="true">Other</a> </li>
                            </ul>
                            <div class="tab-content tabcontent-border br-n pn">
                                <div id="navpills-4" class="tab-pane active">
                                    <nav class="breadcrumb" style="background:white">
                                        <a class="breadcrumb-item" href="#">{{breadObj.year}}</a>
                                        <a class="breadcrumb-item" href="#">{{breadObj.month}}</a>
                                        <span class="breadcrumb-item active">{{breadObj.name}}</span>
                                    </nav>
                              
                                    <div style="padding:0 1rem 1rem" ng-repeat='group in getGroups()'>
                                            <h4 class="card-title">{{group}}</h4>
                                            <div class="media-items-b">
                                                <div class="single-media" ng-repeat="media in allMedia | groupby:group | filter:searchKey">
                                                    <img ng-src="{{media.mImage}}" alt="">
                                                    <ul>
                                                        <li class="name-s">{{media.mName}}</li>
                                                        <li class="edit-img"><a href="/manager/upload-media/{{media.id}}">Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                    </div>
                              
                               </div>

                               <div id="navpills-5" class="tab-pane">
                                    <div class="row">
                                        <div class="col-md-12" style="height:300px;padding:30px">Coming Soon</div>
                                    </div>
                                </div>
                                <div id="navpills-6" class="tab-pane">
                                        <div class="row">
                                                <div class="col-md-12" style="height:300px;padding:30px">Coming Soon</div>
                                        </div>
                                    </div>
                                <div id="navpills-7" class="tab-pane">
                                    <div class="row">
                                            <div class="col-md-12" style="height:300px;padding:30px">Coming Soon</div>
                                    </div>
                                </div>
                         </div>
                         </div>
                         </div>
                     </div>
                               </div>
                               </div>
                    </div>
                </div>
            </div>
            <!-- row -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> © 2019 Optio All rights reserved. </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>