<style>
@charset "UTF-8";
/* .fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
} */
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.custom-btn .btn {
    border-radius: 0;
}

</style>
<div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Upload Media</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Vote</a></li>
                    <li class="breadcrumb-item active">manage</li>
                </ol>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-pills m-t-30 m-b-30">
                                <li class=" nav-item"> <a href="#navpills-1" class="nav-link active" data-toggle="tab" target="_self" aria-expanded="false">Manage</a> </li>
                                <li class="nav-item"> <a href="#navpills-2" class="nav-link" data-toggle="tab" target="_self" aria-expanded="false">Analytics</a> </li>
                                <li class="nav-item"> <a href="#navpills-3" class="nav-link" data-toggle="tab" target="_self" aria-expanded="true">Tools</a> </li>
                            </ul>
                            <div class="tab-content br-n pn">
                                <div id="navpills-1" class="tab-pane active">
                                   
                                    <!-- <h4 class="card-title">Upload Media</h4> -->
                                  
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <!-- .Your image -->
                                <div class="col-md-6 p-20">
                                    <div class="img-container"><img id="image" src="" class="img-responsive" alt="Picture"></div>
                                </div>
                                <!-- /.Your image -->
                                <!-- .Croping image -->
                                <div class="col-md-6 p-20 custom-btn">
                                    <div class="form-group">
                                        <label>Select Image</label>
                                        <div class="fileinput input-group fileinput-new" data-provides="fileinput">
                                            <div class="form-control" data-trigger="fileinput"> 
                                                <i class="glyphicon glyphicon-file fileinput-exists"></i> 
                                                <span class="fileinput-filename"></span>
                                            </div> 
                                            <span class="btn btn-primary waves-effect waves-light btn-file"> 
                                                <span class="fileinput-new">Select file</span> 
                                                <span class="fileinput-exists">Change</span>
                                                <input type="hidden" value="" name="...">
                                                <input type="file" name="" id="inputImage"> 
                                            </span> 
                                            <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a> 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Category</label>
                                        <select class="form-control custom-select" ng-model="selectedCategory" ng-change="categoryChanged()" data-placeholder="Choose a Category" tabindex="1" ng-disabled="newCat">
                                            <option ng-repeat="x in categorys" value="{{x.id}}">{{x.cName}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group" ng-show="newCat">
                                        <label>Create Category</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="newModel"/>
                                            <span class="btn btn-primary waves-effect waves-light" ng-click="saveCategory()"> 
                                                Create
                                            </span>
                                            <a href="#" class="btn btn-danger" ng-click="createCancel()">Cancel</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Name of the Tag</label>
                                        <div class="input-group">
                                            <input type="text" ng-model="tagName" id="myText" class="form-control">
                                            <span class="btn btn-info" id="enableComplete"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success btn-md" ng-click="save()">Save</button>
                                </div>
                                <!-- /.Croping of image -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
                                </div>
                                <div id="navpills-2" class="tab-pane">
                                    <div class="row">
                                        <div class="col-md-8"> Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                                            <p>
                                                <br/> Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid.</p>
                                        </div>
                                        <div class="col-md-4"> <img src="admin/assets/images/big/img3.jpg" class="img-responsive thumbnail mr25"> </div>
                                    </div>
                                </div>
                                <div id="navpills-3" class="tab-pane">
                                    <div class="row">
                                        <div class="col-md-4"> <img src="admin/assets/images/big/img1.jpg" class="img-responsive thumbnail mr25"> </div>
                                        <div class="col-md-8"> Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                                            <p>
                                                <br/> Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> © 2019 Optio All rights reserved. </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>

    <!-- <script src="admin/assets/plugins/cropper/cropper-init.js"></script> -->