<style>
@charset "UTF-8";
/* .fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
} */
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}

.img-container {
    min-height: 200px!important;
}
.dropzone .dz-message {
    padding: 20% 0;
}
/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.custom-btn .btn {
    border-radius: 0;
}

form#my-dropzone-container {
    position: relative;
    min-height:300px;
}

form#my-dropzone-container img {
    object-fit: contain;
    width:100%;
    height:100%;
}
.edit-bar {
    height:32px;
    margin-bottom:15px;
}
.edit-bar .btn {
    float: left;
    width:32px;
    height:32px;
    margin: 0 8px 0 0;
    padding:4px;
    font-weight:bolder;
    background: #f1f1f1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 16px;
    color: #72777c;
    border-color: #ccc;
    box-shadow: 0 1px 0 #ccc;
    font-size: 19px;
    padding: 5px 4px;
}

.rotated {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -moz-transform: rotate(90deg); /* Firefox */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -o-transform: rotate(90deg); /* Opera */
}

.cropper-viewer {
    outline:none;
}
/* .cropper-container {
    left:0!important;
} */
.cropper-point {
    width:7px!important;
    height:7px!important;
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=50)!important;
    opacity: 0.5!important;
}

.cropper-line.line-n {
    background: url(lib/jcrop/css/Jcrop.gif) repeat-x left bottom;
    opacity: 0.5!important;
    top: 0;
    left: 0;
    height: 1px;
    cursor: n-resize;
}
.cropper-line.line-s {
    background: url(lib/jcrop/css/Jcrop.gif) repeat-x left bottom;
    opacity: 0.5!important;
    bottom: 0;
    left: 0;
    height: 1px;
    cursor: n-resize;
}
.cropper-line.line-e {
    background: url(lib/jcrop/css/Jcrop.gif) repeat-y left bottom;
    opacity: 0.5!important;
    right: 0;
    top: 0;
    width: 1px;
    cursor: n-resize;
}

.cropper-line.line-w {
    background: url(lib/jcrop/css/Jcrop.gif) repeat-y left bottom;
    opacity: 0.5!important;
    left: 0;
    top: 0;
    width: 1px;
    cursor: n-resize;
}

</style>
<div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Upload Media</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Vote</a></li>
                    <li class="breadcrumb-item active">manage</li>
                </ol>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-pills m-t-30 m-b-30">
                                <li class=" nav-item"> <a href="#navpills-1" class="nav-link active" data-toggle="tab" target="_self" aria-expanded="false">Manage</a> </li>
                                <li class="nav-item"> <a href="#navpills-2" class="nav-link" data-toggle="tab" target="_self" aria-expanded="false">Analytics</a> </li>
                                <li class="nav-item"> <a href="#navpills-3" class="nav-link" data-toggle="tab" target="_self" aria-expanded="true">Tools</a> </li>
                            </ul>
                            <div class="tab-content br-n pn">
                                <div id="navpills-1" class="tab-pane active">
                                   
                                    <!-- <h4 class="card-title">Upload Media</h4> -->
                                  
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <!-- .Your image -->
                                <div class="col-md-4 p-20">
                                    <div class="form-group">
                                        <div class="edit-bar">
                                            <!-- <span class="btn" id="iedit-crop"><i class="fa fa-crop"></i></span> -->
                                            <span class="btn" id="iedit-rotate-left"><i class="mdi mdi-rotate-left-variant"></i></span>
                                            <span class="btn" id="iedit-rotate-right"><i class="mdi mdi-rotate-right-variant"></i></span>
                                            <span class="btn" id="iedit-flip-h"><i class="mdi mdi-format-horizontal-align-center"></i></span>
                                            <span class="btn" id="iedit-flip-v"><i class="mdi mdi-format-vertical-align-center"></i></span>
                                            <span class="btn" id="iedit-zoom-plus"><i class="fa fa-search-plus"></i></span>
                                            <span class="btn" id="iedit-zoom-minus"><i class="fa fa-search-minus"></i></span>
                                            <span class="btn" id="iedit-camera-change" style="margin-left:10px"><i class="mdi mdi-camera-party-mode"></i></span>
                                        </div>
                                            <!-- <label>Select Image</label>
                                            <div class="fileinput input-group fileinput-new" data-provides="fileinput">
                                                <div class="form-control" data-trigger="fileinput"> 
                                                    <i class="glyphicon glyphicon-file fileinput-exists"></i> 
                                                    <span class="fileinput-filename"></span>
                                                </div> 
                                                <span class="btn btn-primary waves-effect waves-light btn-file"> 
                                                    <span class="fileinput-new">Select file</span> 
                                                    <span class="fileinput-exists">Change</span>
                                                    <input type="hidden" value="" name="...">
                                                    <input type="file" name="" id="inputImage"> 
                                                </span> 
                                                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a> 
                                            </div> -->
                                        <form action="#" class="dropzone" id="my-dropzone-container">
                                            <div class="dz-message" data-dz-message><span>Drop Files here</span><br><span>or</span><br><span class="btn btn-secondary" ng-click="">Select File</span></div>
                                            <div class="fallback">
                                                <input name="file" type="file" multiple />
                                            </div>
                                        </form>
                                    </div>
                                    <!-- <div class="img-container"><img id="image" class="img-responsive" alt="Picture"></div> -->
                                </div>
                                <!-- /.Your image -->
                                <!-- <div class="col-md-4 p-20">
                                        <div class="card">
                                            <div class="card-header">
                                                Media Properties
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Special title treatment</font></font></h4>
                                                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">With supporting text below as a natural lead-in to additional content.</font></font></p>
                                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                        </div>
                                </div> -->
                                <!-- .Croping image -->
                                <div class="col-md-4 p-20 custom-btn" style="margin-top:45px;">
                                    
                                    <div class="form-group">
                                        <label class="control-label">Category</label>
                                        <select class="form-control custom-select" ng-model="selectedCategory" ng-change="categoryChanged()" data-placeholder="Choose a Category" tabindex="1" ng-disabled="newCat">
                                            <option ng-repeat="x in categorys" value="{{x.id}}">{{x.cName}}</option>
                                        </select>
                                    </div>
                                    <div class="modal fade" id="newCatModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myLargeModalLabel">Create New Category</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label for="input-file-now-custom-2">Upload Category Image</label>
                                                            <input type="file" id="input-file-category" class="dropify" data-height="200" />
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group">
                                                                <label for="recipient-name" class="control-label">Category Name:</label>
                                                                <input type="text" class="form-control" id="recipient-name" ng-model="newModel">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="tree-category" class="control-label">Parent Category:</label>
                                                                <div id="treeview5" id="tree-category"></div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary waves-effect text-left" ng-click="saveCategory()">Create</button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                    <div class="form-group">
                                        <label>Name of the Tag</label>
                                        <div class="input-group">
                                            <input type="text" ng-model="tagName" id="myText" class="form-control">
                                            <span class="btn btn-info" id="iedit-"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success" ng-click="save()">Save</button>
                                </div>
                                <!-- /.Croping of image -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
                                </div>
                                <div id="navpills-2" class="tab-pane">
                                    <div class="row">
                                        <div class="col-md-8"> Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                                            <p>
                                                <br/> Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid.</p>
                                        </div>
                                        <div class="col-md-4"> <img src="admin/assets/images/big/img3.jpg" class="img-responsive thumbnail mr25"> </div>
                                    </div>
                                </div>
                                <div id="navpills-3" class="tab-pane">
                                    <div class="row">
                                        <div class="col-md-4"> <img src="admin/assets/images/big/img1.jpg" class="img-responsive thumbnail mr25"> </div>
                                        <div class="col-md-8"> Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                                            <p>
                                                <br/> Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer"> © 2019 Optio All rights reserved. </footer>
    </div>