<style>
    @charset "UTF-8";
    /* .fileinput-button {
      position: relative;
      overflow: hidden;
      display: inline-block;
    } */
    .fileinput-button input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      opacity: 0;
      font-size: 200px !important;
      direction: ltr;
      cursor: pointer;
    }
    
    /* Fixes for IE < 8 */
    @media screen\9 {
      .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
      }
    }
    
    .custom-btn .btn {
        border-radius: 0;
    }
    
    </style>
    <div class="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Create New Optio</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Vote</a></li>
                        <li class="breadcrumb-item active">manage</li>
                    </ol>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                
                                <h4 class="card-title">Select your Media</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <!-- .Your image -->
                                                    <div class="col-md-9" style="padding: 0 20px 20px">
                                                        <div class="row">
                                                            <div class="col-md-1"></div>
                                                            <div class="col-md-4">
                                                                <!-- <div class="form-group">
                                                                    <label>Select Cover Image</label>
                                                                </div> -->
                                                                <div><img id="imageL" src="admin/assets/images/select.jpg" class="img-responsive" alt="Picture"></div>
                                                            </div>
                                                            <div class="col-md-2"></div>
                                                            <div class="col-md-4">
                                                                <!-- <div class="form-group">
                                                                    <label>Select Cover Image</label>
                                                                </div> -->
                                                                <div><img id="imageR" src="admin/assets/images/select.jpg" class="img-responsive" alt="Picture"></div>
                                                            </div>
                                                            <div class="col-md-1"></div>
                                                        </div>
                                                        <div class="form-group p-30">
                                                                <label>Select Cover Image</label>
                                                                <div class="fileinput input-group fileinput-new" data-provides="fileinput">
                                                                    <div class="form-control" data-trigger="fileinput"> 
                                                                        <i class="glyphicon glyphicon-file fileinput-exists"></i> 
                                                                        <span class="fileinput-filename"></span>
                                                                    </div> 
                                                                    <span class="btn btn-primary waves-effect waves-light btn-file"> 
                                                                        <span class="fileinput-new">Select file</span> 
                                                                        <span class="fileinput-exists">Change</span>
                                                                        <input type="hidden" value="" name="...">
                                                                        <input type="file" name="" id="inputCImage"> 
                                                                    </span> 
                                                                    <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a> 
                                                                </div>
                                                            </div>
                                                        <div class="bottom-btns p-30 pull-right">
                                                            <a href="" class="btn btn-primary waves-effect waves-light" ng-click="createVote()">Create New Vote</a> 
                                                        </div>
                                                    </div>
                                                    <!-- /.Your image -->
                                                    <!-- .Croping image -->
                                                    <div class="col-md-3 p-20 custom-btn" style="background:#eee">
                                                        <div class="form-group">
                                                            <label>Search from Own Media</label>
                                                        </div>
                                                        <div class="media-items-d">
                                                            <div class="no-title-media" ng-repeat="media in allUserMedia">
                                                                <img ng-src="{{media.mImage}}" title="{{media.mName}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.Croping of image -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer"> © 2019 Optio All rights reserved. </footer>
        </div>