<style>
.single-area {
     position:absolute;
     top:60px;
     bottom:0;
     width:50%;
     padding:0;
}
.single-area img {
     cursor:pointer;
}
.team-a {
     left:0;
}
.team-b {
     right:0;
}
.vs-d {
     position:absolute;
     left: 50%;
     /* transform: ; */
     top:50%;
     transform: translateX(-50%) translateY(-50%);
     z-index:10;
}

.progress-box {
     color: #fff;
}
.progress-box span {
     position:absolute;
     font-weight: bolder;
}
.bg-success span {
     text-align: left;
     left:50px;
}
.bg-danger span {
     text-align:right;
     right:50px;
}
.progress-box.bg-success {
     text-align:right;
     padding-right:10px;
}
.progress-box.bg-danger {
     text-align: left;
     padding-left:10px;
}
.progress, div.text-center {
     margin-bottom:35px;
}
.vote-status-bar, .vote-bar {
  margin: 0px auto;
  position: fixed;
  z-index:1000;
  bottom: 0;
  width: 30%;
  left: 50%;
  height:128px;
  transform: translateX(-50%);
  padding: 10px 25px;
  background: rgba(0, 0, 0, 0.5);
}

.vote-status-bar h5, .vote-bar h5 {
     text-align:center;
     color:#aaa;
}
.btn-slide {
     display:block;
     text-align:center;
     padding-top:10px
}

.btn-slide {
     left: 50%;
    transform: translateX(-50%);
}
.voteBtn {
     position:absolute;
     padding-right:60px;
     padding-left:10px;
     width:100%;
     color:white;
}
.vote-bar {
     height:300px;
     padding: 20px 30px;
}
.vote-bar ol {
     margin: 0;
     padding: 0;
     color:white;
}
.vote-bar ol li{
     text-align:center;
     clear:both;
     margin-bottom: 30px;
}
.vote-bar ol li a{
     position: relative;
     top: -7px;
     width: 100px;
}
@media only screen and (max-width: 767px) {
     .vote-status-bar, .vote-bar {
          width:100%;
     }
}
</style>
<section class="voting-area" style="margin-top:60px;">
     <div class="container">
             <!-- Nav tabs -->

          <!-- <div id="home" class="container tab-pane active"><br> -->
           <div class="single-area-outter">
            <div class="single-area team-a" ng-click="voteSelect(0)">
                <h2 class="title-name">{{optio.oLMedia.mName}}</h2>
                <div class="img-box"><img ng-src="uploads/{{optio.oLMedia.mImage}}" alt=""></div>
                <div class="team-details">
                    <!-- <p>{{teamA.detail}}</p> -->
                    <a class="btn btn-success" href="/statistic/{{optio.id}}">View Statics</a>
               </div>
                
            </div>
                <div class="vs-d">
                VS
            </div>
            <div class="single-area team-b" ng-click="voteSelect(1)">
                
               <h2 class="title-name">{{optio.oRMedia.mName}}</h2>
               <div class="img-box"><img ng-src="uploads/{{optio.oRMedia.mImage}}" alt=""></div>
               <div class="team-details">
                    <!-- <p>{{teamB.detail}}</p> -->
                    <a class="btn btn-success" href="/statistic/{{optio.id}}">View Statics</a>
               </div>
                
            </div>
            </div>
            <br>
            <div class="vote-area">
               <div class="vote-bar" style="display:none;">
                         <h5>Vote</h5>
                    <ol>
                         <li><a class="float-left btn btn-success btn-sm" ng-click="vote('yes', 1)">Yes</a>I vote him<a class="float-right btn btn-danger btn-sm" ng-click="vote('yes', 0)">No</a></li>
                         <li><a class="float-left btn btn-success btn-sm" ng-click="vote('love', 1)">Love</a>I love him<a class="float-right btn btn-danger btn-sm" ng-click="vote('love', 0)">Hate</a></li>
                         <li><a class="float-left btn btn-success btn-sm" ng-click="vote('good', 1)">Good</a>I respect him<a class="float-right btn btn-danger btn-sm" ng-click="vote('good', 0)">Bad</a></li>
                         <li><a class="float-left btn btn-success btn-sm" ng-click="vote('smart', 1)">Smart</a>I respect him<a class="float-right btn btn-danger btn-sm" ng-click="vote('smart', 0)">Dumb</a></li>
                    </ol>
               </div>
               <div class="vote-status-bar">
                    <h5>Vote</h5>
                    <div class="progress type-yes">
                         <div class="progress-box bg-success" style="width:50%">
                         50%
                         </div>
                         <div class="progress-box bg-danger" style="width:50%">
                         50%
                         </div>
                         <div class="voteBtn"><span class="float-left">Yes</span><span class="float-right">No</span></div>
                    </div>
                    <div id="additional-options" style="display:none">
                         <div class="progress type-love">
                              <div class="progress-box bg-success" style="width:50%">
                              50%
                              </div>
                              <div class="progress-box bg-danger" style="width:50%">
                              50%
                              </div>
                              <div class="voteBtn"><span class="float-left">Love</span><span class="float-right">Hate</span></div>
                         </div>
                         <div class="progress type-good">
                              <div class="progress-box bg-success" style="width:50%">
                              50%
                              </div>
                              <div class="progress-box bg-danger" style="width:50%">
                              50%
                              </div>
                              <div class="voteBtn"><span class="float-left">Good</span><span class="float-right">Bad</span></div>
                         </div>
                         <div class="text-center">
                              <a class="btn btn-warning" href="/login">Create Own Vote</a>
                         </div>                      
                         <div class="progress type-smart">
                              <div class="progress-box bg-success" style="width:50%">
                              50%
                              </div>
                              <div class="progress-box bg-danger" style="width:50%">
                              50%
                              </div>
                              <div class="voteBtn"><span class="float-left">Smart</span><span class="float-right">Dumb</span></div>
                         </div>
                    </div>
                    <a class='btn-slide' href='' style="position:fixed;bottom:10px" ng-click="toggleStatus()"><img src="img/icon-up.png" width="30" height="30"></a>
               </div>
                 
               <!-- <div class="create-vote">
                         <div class="progress">
                    <div class="progress-bar bg-success" style="width:70%">
                    70%  Yes 
                    </div>
                    <div class="progress-bar bg-danger" style="width:30%">
                    30% No
                    </div>
               </div> -->
                 <!-- <br>
                  <div class="text-center">
                      <a  href="create_vote.php" class="btn btn-success"><i class="fas fa-plus"></i> Create Own Vote</a>
                  </div> -->
               </div>   
        </div>
     </div>
</section>